<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TS CRUD</title>
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <!-- TOASTS CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    {{> navigation }}

    <!-- container-fluid -->
    <div class="container p-4">
        {{{ body }}}
    </div>
    <%= req.toastr.render() %>

</body>

</html>