<div class="jumbotron">
    <h1 class="display-4">Typesdript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla consequuntur quibusdam soluta eos
        itaque exercitationem.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, minus!</p>
    <a href="/tasks/list" class="btn btn-lg btn-primary">Task List</a>
</div>